/******************************************
   /* CSS Variables
   /*******************************************/
/* || Sizing */
:root {
    --size-100: 0.125rem;
    /* 2px */
    --size-200: 0.25rem;
    /* 4px */
    --size-300: 0.5rem;
    /* 8px */
    --size-400: 0.75rem;
    /* 12px */
    --size-500: 1rem;
    /* 16px */
    --size-600: 1.5rem;
    /* 24px */
    --size-700: 2rem;
    /* 32px */
    --size-800: 3rem;
    /* 48px */
    --size-900: 4rem;
    /* 64px */
}

/* sm */
@media (width >=40rem) {
    :root {
        --size-100: 0.25rem;
        /* 4px */
        --size-200: 0.5rem;
        /* 8px */
        --size-300: 0.75rem;
        /* 12px */
        --size-400: 1rem;
        /* 16px */
        --size-500: 1.5rem;
        /* 24px */
        --size-600: 2rem;
        /* 32px */
        --size-700: 3rem;
        /* 48px */
        --size-800: 4rem;
        /* 64px */
        --size-900: 6rem;
        /* 96px */
    }
}

@media (width >=48rem) {
    :root {
        --size-100: 0.5rem;
        /* 8px */
        --size-200: 0.75rem;
        /* 12px */
        --size-300: 1rem;
        /* 16px */
        --size-400: 1.25rem;
        /* 20px */
        --size-500: 2rem;
        /* 32px */
        --size-600: 2.5rem;
        /* 40px */
        --size-700: 4rem;
        /* 64px */
        --size-800: 5rem;
        /* 80px */
        --size-900: 7rem;
        /* 112px */
    }
}

@media (width >=64rem) {
    :root {
        --size-100: 0.75rem;
        /* 12px */
        --size-200: 1rem;
        /* 16px */
        --size-300: 1.25rem;
        /* 20px */
        --size-400: 1.5rem;
        /* 24px */
        --size-500: 2.5rem;
        /* 40px */
        --size-600: 3rem;
        /* 48px */
        --size-700: 5rem;
        /* 80px */
        --size-800: 6rem;
        /* 96px */
        --size-900: 8rem;
        /* 128px */
    }
}

@media (width >=80rem) {
    :root {
        --size-100: 0.75rem;
        /* 12px */
        --size-200: 1rem;
        /* 16px */
        --size-300: 1.25rem;
        /* 20px */
        --size-400: 1.5rem;
        /* 24px */
        --size-500: 2.5rem;
        /* 40px */
        --size-600: 3rem;
        /* 48px */
        --size-700: 5rem;
        /* 80px */
        --size-800: 6rem;
        /* 96px */
        --size-900: 8rem;
        /* 128px */
    }
}

@media (width >=96rem) {
    :root {
        --size-100: 0.75rem;
        /* 12px */
        --size-200: 1rem;
        /* 16px */
        --size-300: 1.25rem;
        /* 20px */
        --size-400: 1.5rem;
        /* 24px */
        --size-500: 2.5rem;
        /* 40px */
        --size-600: 3rem;
        /* 48px */
        --size-700: 5rem;
        /* 80px */
        --size-800: 6rem;
        /* 96px */
        --size-900: 8rem;
        /* 128px */
    }
}

/* || Colours */
:root {
    --color-primary: #0697b8;
    --color-secondary: #efc0f0;
    --color-accent: #ff6f91;
    --color-background: #8fc7f8;
}

/******************************************
   /* Base styles - for all elements basically
   /*******************************************/

body {
    margin: 0;
    justify-content: center;
    background-color: rgb(143, 199, 248);
}

/******************************************
   /* Utility classes (deco) - word editor basically to put into index
   /*******************************************/

.hidden {
    display: none !important;
}

.card {
    background-color: #ffffffbd;
    box-shadow: 3px 3px 17px -8px #00000091;
    width: 500px;
    justify-content: center;
}

.background-color {
    background-color: rgb(204, 225, 244);
    justify-content: center;

}

.container-fluid {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-main {
    background-image: linear-gradient(to right,
            #efc0f0,
            #0697b827);
}

.main-heading {
    font-family: "Comic Sans MS", "Comic Neue", cursive;
    font-size: 3rem;
    letter-spacing: 3px;
    color: #07f1f5;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 #ffffff;
}